<h1>Editing fantasy league</h1>

<%= render "form", fantasy_league: @fantasy_league %>

<br>

<div>
  <%= link_to "Show this fantasy league", @fantasy_league %> |
  <%= link_to "Back to fantasy leagues", fantasy_leagues_path %>
</div>
