%h1= @fantasy_league.name

%h2 Teams
-# Add fantasy team link
= link_to 'New Fantasy Team', new_fantasy_league_team_path(@fantasy_league), {class: 'btn btn-primary'}

-# teams partial from fantasy_teams
= render partial: 'fantasy_teams/teams', locals: { teams: @teams }

%h2 Drafts
= render partial: 'drafts/drafts', locals: { drafts: @drafts }