- if draft_pick = @draft.draft_picks.find_by(pick_number: pick[:pick_number], round: pick[:round])
  = render partial: "draft_picks/completed_draft_pick", locals: { draft_pick: draft_pick }
- else
  .text-center{id: "draft-pick-#{pick[:pick_number]}"}
    %p= pick[:team].name.titleize