<div id="<%= dom_id draft %>">
  <%# show the draft's league %>
  <p>
    <strong>League:</strong>
    <%= draft.fantasy_league.name %>
  </p>
  <%# show the draft's scheduled date in HH:MM MM/DD/YY %>
  <p>
    <strong>Draft time:</strong>
    <%= draft.scheduled_date.strftime("%l:%M %p %m/%d/%Y") %>
  </p>
</div>
